.space {
    --toolbar-background: #778899;
    --toolbar-control-background: #557788;
    --toolbar-control-foreground: black;
    --toolbar-control-hover: #446677;
    --toolbar-number-background: #121416;
    --toolbar-number-foreground: whitesmoke;

    #chapter-title {
        --chapter-title: whitesmoke;
        //text-shadow: unset;
    }
}
